[index mcp_side]
id=0
out=1876
in=2220

[index mcp_forward]
id=1
out=2048
in=3096

[index pip]
id=2
out=2048
in=3096

[index dip]
id=3
out=2048
in=3096

[middle mcp_side]
id=4
out=1876
in=2220

[middle mcp_forward]
id=5
out=2048
in=3096

[middle pip]
id=6
out=2048
in=3096

[middle dip]
id=7
out=2048
in=3096

[ring mcp_side]
id=8
out=1876
in=2220

[ring mcp_forward]
id=9
out=2048
in=3096

[ring pip]
id=10
out=2048
in=3096

[ring dip]
id=11
out=2048
in=3096

[thumb mcp_side]
id=12
out=3096
in=2048

[thumb mcp_forward]
id=13
out=2048
in=3096

[thumb pip]
id=14
out=2048
in=3096

[thumb dip]
id=15
out=2048
in=3096
